.one {
    background-color: #FF0000;
}

.two {
    background-color: #FF2300;
}

.three {
    background-color: #FF4600;
}

.four {
    background-color: #FF8C00;
}

.five {
    background-color: #FFF600;
}

.six {
    background-color: #F7FF00;
}

.seven {
    background-color: #E5FF00;
}

.eight {
    background-color: #C2FF00;
}

.nine {
    background-color: #9FFF00;
}

.ten {
    background-color: #24FF00;
}
